<section class="mt-16">

    <h1 class="text-3xl font-bold mb-8">
        Projects
    </h1>

    <h2 class="text-2xl font-semibold">
        Featured Project
    </h2>

    <p>
        My featured game will go here.
    </p>

    <h2 class="text-2xl font-semibold mt-12">
        Game Projects
    </h2>

    <p>
        My game projects will go here.
    </p>

    <h2 class="text-2xl font-semibold mt-12">
        Game Jam Projects
    </h2>

    <p>
        My game jam projects will go here.
    </p>

    <h2 class="text-2xl font-semibold mt-12">
        Personal Projects
    </h2>

    <p>
        My personal projects will go here.
    </p>

</section>